{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped">
            <thead>
            <tr>
                <td>序号</td>
                <td>题目</td>
                <td>创建时间</td>
                <td>代码</td>
                <td>状态</td>
            </tr>
            </thead>
            <tbody>
            {% for submit in submit_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ submit.fk_problem_id.title }}</td>
                    <td>{{ submit.create_time }}</td>
                    <td><a href="{% url 'account:show_user_submited_code' %}?id={{ submit.id }}">查看</a></td>
                    <td>{{ submit.user_code_status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}

