<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">李扣在线评测系统</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li><a href="#">探索</a></li>
			<li><a href="{% url 'problem:problemList' %}">题库</a></li>
            <li><a href="#">竞赛</a></li>
		</ul>
        {#% 登陆成功 %#}
        {% if user.is_authenticated %}
        <ul class='nav navbar-nav navbar-right'>
            <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					通知
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">比赛通知</a></li>
					<li><a href="#">消息通知</a></li>
					<li><a href="#">好友申请</a></li>
				</ul>
			</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    我的
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a>我的收藏</a></li>
                    <li><a>我的笔记本</a></li>
                    <li><a href="{% url 'account:submit_record' %}">我的提交记录</a></li>
                    <li><a>我的题解</a></li>
                    <li><a href="{% url 'account:logout' %}">退出</a></li>
                </ul>
            </li>

        </ul>
        {% else %}
        {#% 登陆成功 %#}
        {# 未登录 #}
        <ul class='nav navbar-nav navbar-right'>
            <li><a href="{% url 'account:login' %}">登陆</a></li>
            <li><a href="{% url 'account:register' %}">注册</a></li>
        </ul>
        {% endif %}
        {# 未登录 #}


	</div>
	</div>
</nav>